
    <header class="header-menu">
      <!-- header-to-area-start -->
      <div class="header-top-area">
        <div class="container">
          <div class="border-bottom">
            <div class="row">
              <div class="col-lg-6 col-md-7 hidden-xs">
                <div class="headers-left">
                  <div class="headers-left-text">
                    <div class="headers-left-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <div class="headers-left-text">
                      <p>9447359096</p>
											<p>9400132307</p>
                    </div>
                  </div>
                  <div class="headers-left-text">
                    <div class="headers-left-icon">
                      <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="headers-left-text">
                      <p><a href="mailto:sanshomes007@gmail.com">sanshomes007@gmail.com</a></p>
                    </div>
                  </div>
                  <div class="headers-left-text">
                    <div class="headers-left-icon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="headers-left-text">
                      <p>Working time: 08:00 - 17:00</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-5 col-xs-12">
                <div class="header-icon">
                  <a href="https://www.facebook.com/Sans-Homes-100914312362022"><i class="fa fa-facebook"></i></a>
									<a href="https://www.instagram.com/sans___homes/"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/sans-homes/"><i class="fa fa-linkedin-square"></i></a>
                  {{!-- <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-camera"></i></a>
                  <a href="#"><i class="fa fa-pinterest-p"></i></a> --}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-menu-area">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="logo">
                <a href="/">
                  <!-- <img src="assets/img/logo/logo.png" alt="" /> -->
				  <h2 class="logo">Sanshomes</h2>
                </a>
              </div>
            </div>
            <div class="col-md-10">
              <div class="main-menu floatright">
                <nav>
                  <ul>
                    <li><a href="/">HOME</a></li>
                    <li class="active"><a href="about">ABOUT</a></li>
                    <li><a href="service">SERVICE</a></li>
                    <li><a href="project">PROJECTS</a></li>
                    <li><a href="contact">CONTACT</a></li>
                  </ul>
                </nav>
              </div>
              <div class="col-xs-12"><div class="mobile-menu"></div></div>
            </div>
          </div>
        </div>
      </div>
      <!-- header-to-area-end -->
    </header>
    <!-- slider-area-start -->
    <div
      class="page-title-area pb-200 pt-320 bg-opacity"
      style="background-image: url(assets/img/slider/1.jpg);"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-text text-center">
              <h1>about page</h1>
              <div class="page-info">
                <p>
                  We Always Believe In Delivering You The Best Creative Home
                  Designs . If You Can Dream Your Home, We Can Make It Come True
                  With Creativity, Using Updated Technologies And In Vibrant
                  Styles.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider-area-end -->
    <!-- about-area-start -->
    <div class="about-area ptb-40">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="about-img mb-30">
              <img src="assets/img/about/about.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="about-wrapper">
              <div class="about-text">
                <h3>About Us</h3>
                <p>
                  <b>Sans Homes</b> Is Largest Progressing Builders In Kerala, With 16
                  Years Of Experience In Construction. Our Head Office Is At
                  Thalayolaparambu, Kottayam. One Of Our Main Achievement Was
                  Our Project Is Selected For The Best House Of 2014conducted By
                  Malayala Manorama Paarpiddam.Every House Is A Perons Dream And
                  It Differs In Style And Size.We Assure Your Dream Come True In
                  Quality And Aesthetic
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- about-area-end -->
    <!-- team-area-start -->
    <div class="team-area blue-bg pt-120 pb-90">
      <div class="container">
        <div class="section-title text-center white-text">
          <h2>Team Member</h2>
          <p>
            There are many variations of passages Lorem Ipsum labl, but 
            <br />
            the majority have suffalteration in some forinjected .
          </p>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="team-wrapper mb-30">
              <div class="team-img">
                <img src="assets/img/team/Team-01.png" alt="" />
                <div class="team-content text-center">
                  <h3><a href="#">Ronald Chen</a></h3>
                  <span>Expert Staff</span>
                  <div class="team-icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#"><i class="fa fa-camera"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="team-wrapper mb-30">
              <div class="team-img">
                <img src="assets/img/team/Team-02.png" alt="" />
                <div class="team-content text-center">
                  <h3><a href="#">Kevin Long</a></h3>
                  <span>Expert Staff</span>
                  <div class="team-icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#"><i class="fa fa-camera"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="team-wrapper mb-30">
              <div class="team-img">
                <img src="assets/img/team/Team-03.png" alt="" />
                <div class="team-content text-center">
                  <h3>Joe Dean</h3>
                  <span>Expert Staff</span>
                  <div class="team-icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#"><i class="fa fa-camera"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="team-wrapper mb-30">
              <div class="team-img">
                <img src="assets/img/team/Team-04.png" alt="" />
                <div class="team-content text-center">
                  <h3>Dylan Austin</h3>
                  <span>Expert Staff</span>
                  <div class="team-icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#"><i class="fa fa-camera"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- team-area-start -->
    <!-- service-area-start -->
	
    <!-- service-area-end -->
    <!-- clients-area-start -->
    <div class="clients-area pt-80 ptb-130">
      <div class="container">
        <div class="section-title text-center mb-70">
          <h2>What Clients Say</h2>
          <p>
            There are many variations of passages Lorem Ipsum labl, but the
            majority have suffalteration in some forinjected .
          </p>
        </div>
        <div class="row-wrapper clients-active owl-carousel">
          <div class="custom-col">
            <div class="clients-wrapper">
              <div class="clients-img">
                <img src="assets/img/client/1.png" alt="" />
              </div>
              <div class="clients-content">
                <h4>
                  Marie Banks,
                  <span>Builder Manager</span>
                </h4>
                <p>
                  Sed ut perspiciatis unde omnis iste natusvoluptatem
                  accusantium doloremque laudantium, totaaperiam, eaque ipsa
                  quae ab illo inventore
                </p>
              </div>
            </div>
          </div>
          <div class="custom-col">
            <div class="clients-wrapper">
              <div class="clients-img">
                <img src="assets/img/client/2.png" alt="" />
              </div>
              <div class="clients-content">
                <h4>
                  Marie Banks,
                  <span>Builder Manager</span>
                </h4>
                <p>
                  Sed ut perspiciatis unde omnis iste natusvoluptatem
                  accusantium doloremque laudantium, totaaperiam, eaque ipsa
                  quae ab illo inventore
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- clients-area-start -->
    <!-- Subscribe-area-start -->
    <div class="Subscribe-area">
      <div class="container">
        <div
          class="subscribe pt-80 pb-45"
          style="background-image: url(assets/img/bg/2.jpg);"
        >
          <div class="row">
            <div class="col-md-6 col-sm-12 mb-20">
              <div class="Subscribe-text">
                <span>Subscribe</span>
                <h2>To Our Special Offers</h2>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 mb-20">
              <div class="subscribe-form">
                <form action="/addemail" method="post">
                  <input placeholder="Enter your Email..." name="email" type="email" />
                  <button type="submit">subscribe now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Subscribe-area-end -->
    <footer>
      <!-- footer-top-area-start -->
      <div class="footer-top-area blue-bg pt-190 pb-60">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-6">
              <div class="foooter-wrapper mb-30">
                <h4 class="footer-title">about us</h4>
                <div class="footer-text">
                  <p>
                    Team Sans Homes Is A Lively, Passionate Bunch Of Hard
                    Workers As Well As Smart Workers. Here You Find The Grey
                    Haired Patience As Well As The Urge To Go Beyond The Lines
                    Quite In Tandem. The Team Consists Of Experts With Decades-
                    Long Experience In Various Domains Of Art, Design,
                    Architecture And Construction. Involvement, Imagination,
                    Dedication And Action- With Team Sans Homes; All These Go
                    Hand In Hand.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="foooter-wrapper mb-30">
                <h4 class="footer-title">Useful links</h4>
                <ul class="footer-menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="about">About Us</a></li>
                  <li><a href="service">Service</a></li>
                  <li><a href="project">Projects</a></li>
                  <!-- <li><a href="#">Term of use</a></li> -->
                  <li><a href="contact">Contact</a></li>
                </ul>
              </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6">
				
			  </div> -->
            <div class="col-md-3 col-sm-6">
              <div class="foooter-wrapper mb-30">
                <h4 class="footer-title">FLICKR WIDGET</h4>
                <ul class="footer-img">
                   {{#each photos}}
						<li>
						  <a href="#"><img src="/images/{{this._id}}.jpg" alt="" /></a>
						</li>
						{{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-top-area-end -->
      <!-- footer-bottom-area-start -->
      <div class="footer-bottom-area blue-bg-11 ptb-20">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright text-center">
                <p>
                  &copy; 2022
                  <span>Real Estate</span>
                  Made with
                  <i class="fa fa-heart"></i>
                  by
                  <a href="https://code2break.com/">C2B</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-bottom-area-end -->
    </footer>

   