<form class="form-horizontal" action="/admin/add-photo" method="post" enctype="multipart/form-data">
<fieldset>

<!-- Form Name -->
<legend>ADD PHOTO</legend>
</div>


<div class="form-group">
  <label for="product subcategory">PHOTO NAME</label> <br>
 <div class="col-md-4">
  <input id="photo_name" name="photo_name" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text">
   <label for="product subcategory">subheading of product</label> <br>
   <input id="photo_name" name="subheading" placeholder="subheading of product" class="form-control input-md" required="" type="text"> 
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">main_image</label>
  <div class="col-md-4">
    <input id="image" name="image" class="input-file" type="file">
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">SUBMIT</button>
  </div>
  </div>

</fieldset>
</form>