<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Project details | C2B</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="apple-touch-icon.html" />
    <!-- Place favicon.ico in the root directory -->

    <!-- all css here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/flaticon.css" />
    <link rel="stylesheet" href="assets/css/ionicons.min.css" />
    <link rel="stylesheet" href="assets/css/headline.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <link
      rel="stylesheet"
      href="assets/css/material-design-iconic-font.min.css"
    />
    <link rel="stylesheet" href="assets/css/meanmenu.css" />
    <link rel="stylesheet" href="assets/css/Pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/bundle.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <script src="js/vendor/modernizr-2.8.3.min.html"></script>
  </head>
  <body>
    <header class="header-menu">
      <!-- header-to-area-start -->
      <div class="header-top-area">
        <div class="container">
          <div class="border-bottom">
            <div class="row">
              <div class="col-lg-6 col-md-7 hidden-xs">
                <div class="headers-left">
                  <div class="headers-left-text">
                    <div class="headers-left-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <div class="headers-left-text">
                      <p>+00 965 874 587</p>
                    </div>
                  </div>
                  <div class="headers-left-text">
                    <div class="headers-left-icon">
                      <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="headers-left-text">
                      <p>code2breakgmail.com</p>
                    </div>
                  </div>
                  <div class="headers-left-text">
                    <div class="headers-left-icon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="headers-left-text">
                      <p>Working time: 08:00 - 17:00</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-5 col-xs-12">
                <div class="header-icon">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin-square"></i></a>
                  <a href="#"><i class="fa fa-camera"></i></a>
                  <a href="#"><i class="fa fa-pinterest-p"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-menu-area">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="logo">
                <a href="index.html">
                  <!-- <img src="assets/img/logo/logo.png" alt="" /> -->
                  <h2 class="logo">Sanshomes</h2>
                </a>
              </div>
            </div>
            <div class="col-md-10">
              <div class="main-menu floatright">
                <nav>
                  <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li class="active"><a href="service.html">SERVICE</a></li>
                    <li><a href="project.html">PROJECTS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                  </ul>
                </nav>
              </div>
              <div class="col-xs-12"><div class="mobile-menu"></div></div>
            </div>
          </div>
        </div>
      </div>
      <!-- header-to-area-end -->
    </header>
    <!-- slider-area-start -->
    <div
      class="page-title-area pb-200 pt-320 bg-opacity"
      style="background-image: url(assets/img/slider/1.jpg);"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-text text-center">
              <h1>Project details</h1>
              <div class="page-info">
                <p>
                  Contrary to popular belief, Lorem Ipsum is not simply random
                  text. It has roots in a piece of classical Latin literature
                  from 45 BC,
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider-area-end -->
    <!-- project-details-area-start -->
    <div class="project-details-area pt-120 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-md-9 mb-40">
            <div class="project-details">
              <div class="product-zoom">
                <!-- Tab panes -->
                <!-- <div class="tab-content">
									<div class="tab-pane active" id="home">
										<div class="pro-large-img">
											<img src="assets/img/project/1.jpg" alt="" />
										</div>
									</div>
									<div class="tab-pane" id="profile">
										<div class="pro-large-img">
											<img src="assets/img/project/2.jpg" alt="" />
										</div>							
									</div>
									<div class="tab-pane" id="messages">
										<div class="pro-large-img">
											<img src="assets/img/project/3.jpg" alt="" />
										</div>
									</div>
									<div class="tab-pane" id="settings">
										<div class="pro-large-img">
											<img src="assets/img/project/4.jpg" alt="" />
										</div>							
									</div>
								</div> -->
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs1">
                    <div class="pro-large-img">
                      <img src="assets/img/project/1.jpg" alt="" />
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs2">
                    <div class="pro-large-img">
                      <img src="assets/img/project/2.jpg" alt="" />
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs3">
                    <div class="pro-large-img">
                      <img src="assets/img/project/3.jpg" alt="" />
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs4">
                    <div class="pro-large-img">
                      <img src="assets/img/project/4.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <!-- Nav tabs -->
                <ul class="nav details-tab-menu">
                  <li>
                    <a class="active" data-bs-toggle="tab" href="#tabs1">
                      <img
                        src="assets/img/project/Project-Deatils1.jpg"
                        alt=""
                      />
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#tabs2">
                      <img
                        src="assets/img/project/Project-Deatils2.jpg"
                        alt=""
                      />
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#tabs3">
                      <img
                        src="assets/img/project/Project-Deatils3.jpg"
                        alt=""
                      />
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#tabs4">
                      <img
                        src="assets/img/project/Project-Deatils4.jpg"
                        alt=""
                      />
                    </a>
                  </li>
                </ul>
              </div>
              <div class="project-details-content">
                <h4>Project Overview</h4>
                <p>
                  But I must explain to you how all this mistaken idea of
                  denouncing pleasure and praising pain was born and I will give
                  ycomplete account of the system, and expound the actual
                  teachings of the great explorer of the truth, the
                  master-builder of human haness. No one rejects, dislikes, or
                  avoids pleasure itself, because it is pleasure, but because
                  those who do not know how to purspleasure rationally encounter
                  consequences that are extremely painful. Nor again is there
                  anyone who loves or pursues or desires tobtain pain of itself,
                  because it is pain, but because occasionally circumstances
                  occur in which toil and pain can procure him some great
                  pleasure. To take a trivial example, which of us ever
                  undertakes laborious physical exercise, except to obtain some
                  advantagfrom it? But who has any right to find fault with a
                  man who chooses to enjoy a pleasure that has no annoying
                  consequences, or onwho avoids a pain that produces no
                  resultant pleasure
                </p>
                <p>
                  the master-builder of human happiness. No one rejects,
                  dislikes, avoids pleasure itself, because it is pleasure,
                  but becausthose who do not know how to pleasure
                  rationally encounter consequences that are extremely painful.
                  Nor again is who loves or pursues or desires to
                  obtain pain of itself, because it is pain, but because
                  occasionally circumstances occur in which toil and pain can
                  procure him some great pleasure. To take a trivial example,
                  which of us ever undertakes laborious physexercise, except to
                  obtain..
                </p>
              </div>
              <!-- <ul class="project-details-menu">
								<li>01. Integer eu elit at sapien consectetur malesuada sed blandit eros.ircumstances occur in which toil</li>
								<li>02. Suspendisse nec diam et ligula consequat bibendum et molestie risus.</li>
								<li>03. Nulla eu nisl viverra, tristique justo in, fermentum ipsum.ircumstances occur in which toil</li>
								<li>04. Vivamus in libero at metus bibendum semper sit amet vitae tellus.</li>
								<li>05. Sed gravida arcu sit amet magna faucibus feugiat.ircumstances occur in which toil</li>
								<li>06. Fusce sit amet leo sed risus ullamcorper aliquet.No one rejects, dislikes, or avoids pleasure</li>
							</ul> -->
              <div class="row">
                <div class="col-md-6">
                  <h3 class="info">Project Details</h3>
                  <ul class="project-link">
                    <li>
                      Client :
                      <span>Jhon Antony</span>
                    </li>
                    <li>
                      Project Location :
                      <span>Ernakulam, Kerala</span>
                    </li>
                    <li>
                      Company :
                      <span>C2B</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="project-detailsss-img">
                    <img src="assets/img/project/5.jpg" alt="" />
                  </div>
                  <div class="project-detailsss-img">
                    <img src="assets/img/project/6.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget gray-bg-2">
              <div class="project-details-widget">
                <h4>Our Offices</h4>
                <div class="project-details-info">
                  <h5>Address:</h5>
                  <span>Trivandrum</span>
                </div>
                <div class="project-details-info">
                  <h5>Email:</h5>
                  <span>code2breakemail.com</span>
                </div>
                <div class="project-details-info">
                  <h5>Phone:</h5>
                  <span>+91 547 589 5477</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- project-details-area-end -->
    <!-- Subscribe-area-start -->
    <div class="Subscribe-area">
      <div class="container">
        <div
          class="subscribe pt-80 pb-45"
          style="background-image: url(assets/img/bg/2.jpg);"
        >
          <div class="row">
            <div class="col-md-6 col-sm-12 mb-20">
              <div class="Subscribe-text">
                <span>Subscribe</span>
                <h2>To Our Special Offers</h2>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 mb-20">
              <div class="subscribe-form">
                <form action="#">
                  <input placeholder="Enter your Email..." type="email" />
                  <button>subscribe now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Subscribe-area-end -->
    <footer>
      <!-- footer-top-area-start -->
      <div class="footer-top-area blue-bg pt-190 pb-60">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-6">
              <div class="foooter-wrapper mb-30">
                <h4 class="footer-title">about us</h4>
                <div class="footer-text">
                  <p>
                    Team Sans Homes Is A Lively, Passionate Bunch Of Hard
                    Workers As Well As Smart Workers. Here You Find The Grey
                    Haired Patience As Well As The Urge To Go Beyond The Lines
                    Quite In Tandem. The Team Consists Of Experts With Decades-
                    Long Experience In Various Domains Of Art, Design,
                    Architecture And Construction. Involvement, Imagination,
                    Dedication And Action- With Team Sans Homes; All These Go
                    Hand In Hand.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="foooter-wrapper mb-30">
                <h4 class="footer-title">Useful links</h4>
                <ul class="footer-menu">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="service.html">Service</a></li>
                  <li><a href="project.html">Projects</a></li>
                  <!-- <li><a href="#">Term of use</a></li> -->
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6">
					
				  </div> -->
            <div class="col-md-3 col-sm-6">
              <div class="foooter-wrapper mb-30">
                <h4 class="footer-title">FLICKR WIDGET</h4>
                <ul class="footer-img">
                  <li>
                    <a href="#"><img src="assets/img/footer/1.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/2.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/3.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/4.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/5.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/6.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/7.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/8.jpg" alt="" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-top-area-end -->
      <!-- footer-bottom-area-start -->
      <div class="footer-bottom-area blue-bg-11 ptb-20">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright text-center">
                <p>
                  &copy; 2022
                  <span>Real Esatate</span>
                  Made with
                  <i class="fa fa-heart"></i>
                  by
                  <a href="https://www.code2break.com/">C2B</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-bottom-area-end -->
    </footer>

    <!-- all js here -->
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/headline.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.scrollUp.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.parallax-1.1.3.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.meanmenu.js"></script>
    <script src="assets/js/ajax-mail.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
  </body>

  <!-- Mirrored from template.hasthemes.com/buildup/buildup/project-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 20 May 2022 12:28:21 GMT -->
</html>
