
        <header class="header-menu">
			<!-- header-to-area-start -->
			<div class="header-top-area">
				<div class="container">
					<div class="border-bottom">
						<div class="row">
							<div class="col-lg-6 col-md-7 hidden-xs">
								<div class="headers-left">
									<div class="headers-left-text">
										<div class="headers-left-icon">
											<i class="fa fa-phone"></i>
										</div>
										<div class="headers-left-text">
											<p>9447359096</p>
											<p>9400132307</p>
										</div>
									</div>
									<div class="headers-left-text">
										<div class="headers-left-icon">
											<i class="fa fa-envelope-o"></i>
										</div>
										<div class="headers-left-text">
											<p><a href="mailto:sanshomes007@gmail.com">sanshomes007@gmail.com</a></p>
										</div>
									</div>
									<div class="headers-left-text">
										<div class="headers-left-icon">
											<i class="fa fa-clock-o"></i>
										</div>
										<div class="headers-left-text">
											<p>Working time: 08:00 - 17:00</p>
										</div>
									</div>
								</div>
							</div>
							<div class=" col-lg-6 col-md-5 col-xs-12">
								<div class="header-icon">
									<a href="https://www.facebook.com/Sans-Homes-100914312362022"><i class="fa fa-facebook"></i></a>
									<a href="https://www.instagram.com/sans___homes/"><i class="fa fa-instagram"></i></a>
									<a href="https://www.linkedin.com/company/sans-homes/"><i class="fa fa-linkedin-square"></i></a>
									{{!-- <a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-camera"></i></a>
									<a href="#"><i class="fa fa-pinterest-p"></i></a> --}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-menu-area">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="logo">
								<a href="index.html">
									<!-- <img src="assets/img/logo/logo.png" alt="" /> -->
									<h2 class="logo">Sanshomes</h2>
								</a>
							</div>
						</div>
						<div class="col-md-10">
							<div class="main-menu floatright">
								<nav>
									<ul>
										<li><a href="/">HOME </a>
										</li> 
										<li><a href="about">ABOUT</a>
										</li>
										<li class="active"><a href="service">SERVICE</a></li>
										<li><a href="project">PROJECTS</a>
										</li>
										<li><a href="contact">CONTACT</a></li>
									</ul>
								</nav>
							</div>
							<div class="col-xs-12"><div class="mobile-menu"></div></div>
						</div>
					</div>
				</div>
			</div>
			<!-- header-to-area-end -->
		</header>
		<!-- slider-area-start -->
		<div class="page-title-area pb-200 pt-320 bg-opacity" style="background-image:url(assets/img/slider/1.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="page-text text-center">
							<h1>Services Page</h1>
							<div class="page-info">
								<p>Our Service Is To Establish Lasting Relationships With Our Customers By Exceeding Their Expectations And Gaining Their Trust Through Exceptional Performance By Every Member Of The Construction Team.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slider-area-end -->
		<!-- service-area-start -->
		<div class="service-area pt-120 pb-90 green-bg">
			<div class="container">
			  <div class="section-title text-center mb-65">
				<h2>our service</h2>
				<p>
				  There are many variations of passages Lorem Ipsum labl, but the
				  majority have suffalteration in some forinjected .
				</p>
			  </div>
			  <div class="row">
				<div class="col-md-4 col-sm-6">
				  <div class="service-wrapper mb-30">
					<div class="service-content">
					  <img src="assets/img/service/1.png" alt="" />
					  <h3>Floors & Roofs</h3>
					  <p>
						Floors are the key element when it comes to architectural freedom and design. Their loadbearing capacity has a direct influence on the need for partition walls and other structural elements of a building.we help you with professional consultancy on this matter.
					  </p>
					</div>
				  </div>
				</div>
				<div class="col-md-4 col-sm-6">
				  <div class="service-wrapper mb-30">
					<div class="service-content">
					  <img src="assets/img/service/2.png" alt="" />
					  <h3>Rooms & Halls</h3>
					  <p>
						As a quality provider we have already successfully realised thousands of hall construction projects, and principals and planners are convinced by our expertise, reliability, and service. Whether it be a steel hall or industrial building, we will realise your project on time and in high quality.
					  </p>
					</div>
				  </div>
				</div>
				<div class="col-md-4 col-sm-6">
				  <div class="service-wrapper mb-30">
					<div class="service-content">
					  <img src="assets/img/service/3.png" alt="" />
					  <h3>
						Interior Designing
					  </h3>
					  <p>
						As a one-stop shop for everything Home, we can offer the most comprehensive interior design service you’ll find in kerala.Nothing is more important to our design team, than finding you the ideal furniture and furnishings in the perfect combination for your home. 
					  </p>
					</div>
				  </div>
				</div>
				<div class="col-md-4 col-sm-6">
				  <div class="service-wrapper mb-30">
					<div class="service-content">
					  <img src="assets/img/service/4.png" alt="" />
					  <h3>Architecture</h3>
					  <p>
					   A design with a different vision point.That's us.we give you what you deserve and more over, you have the best to choose from.
					  </p>
					</div>
				  </div>
				</div>
				<div class="col-md-4 col-sm-6">
				  <div class="service-wrapper mb-30">
					<div class="service-content">
					  <img src="assets/img/service/5.png" alt="" />
					  <h3>
						repairing and construction
					  </h3>
					  <p>
		     			our works in this field mainly includes services like painting, carpentry, plumbing, cleaning and restoration, refurbishment, electric works and much more.
					  </p>
					</div>
				  </div>
				</div>
				<div class="col-md-4 col-sm-6">
				  <div class="service-wrapper mb-30">
					<div class="service-content">
					  <img src="assets/img/service/6.png" alt="" />
					  <h3>Supervision</h3>
					  <p>
					  we provide comprehensive management, supervision and inspection services, which are tailor-made for each project and which cover all dimensions and phases of construction and site applications of projects of its employers and clients serving both in public and private sectors in different Fields of Activity.Our main aim is always the satisfaction of the customer
					  </p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		<!-- Subscribe-area-start -->
		<div class="Subscribe-area mt-90">
			<div class="container">
				<div class="subscribe pt-80 pb-45" style="background-image:url(assets/img/bg/2.jpg)">
					<div class="row">
						<div class="col-md-6 col-sm-12 mb-20">
							<div class="Subscribe-text">
								<span>Subscribe</span>
								<h2>To Our Special Offers</h2>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 mb-20">
							<div class="subscribe-form">
								 <form action="/addemail" method="post">
                  <input placeholder="Enter your Email..." name="email" type="email" />
                  <button type="submit">subscribe now</button>
                </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Subscribe-area-end -->			
		</div>
		<!-- service-area-end -->
		<footer>
			<!-- footer-top-area-start -->
			<div class="footer-top-area blue-bg pt-190 pb-60">
			  <div class="container">
				<div class="row">
				  <div class="col-md-5 col-sm-6">
					<div class="foooter-wrapper mb-30">
					  <h4 class="footer-title">about us</h4>
					  <div class="footer-text">
						<p>
						  Team Sans Homes Is A Lively, Passionate Bunch Of Hard
						  Workers As Well As Smart Workers. Here You Find The Grey
						  Haired Patience As Well As The Urge To Go Beyond The Lines
						  Quite In Tandem. The Team Consists Of Experts With Decades-
						  Long Experience In Various Domains Of Art, Design,
						  Architecture And Construction. Involvement, Imagination,
						  Dedication And Action- With Team Sans Homes; All These Go
						  Hand In Hand.
						</p>
					  </div>
					</div>
				  </div>
				  <div class="col-md-4 col-sm-6">
					<div class="foooter-wrapper mb-30">
					  <h4 class="footer-title">Useful links</h4>
					  <ul class="footer-menu">
						<li><a href="/">Home</a></li>
						<li><a href="about">About Us</a></li>
						<li><a href="service">Service</a></li>
						<li><a href="project">Projects</a></li>
						<!-- <li><a href="#">Term of use</a></li> -->
						<li><a href="contact">Contact</a></li>
					  </ul>
					</div>
				  </div>
				  <!-- <div class="col-md-3 col-sm-6">
					  
					</div> -->
				  <div class="col-md-3 col-sm-6">
					<div class="foooter-wrapper mb-30">
					  <h4 class="footer-title">FLICKR WIDGET</h4>
					  <ul class="footer-img">
						 {{#each photos}}
						<li>
						  <a href="#"><img src="/images/{{this._id}}.jpg" alt="" /></a>
						</li>
						{{/each}}
					  </ul>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<!-- footer-top-area-end -->
			<!-- footer-bottom-area-start -->
			<div class="footer-bottom-area blue-bg-11 ptb-20">
			  <div class="container">
				<div class="row">
				  <div class="col-md-12">
					<div class="copyright text-center">
					  <p>
						&copy; 2022
						<span>Real Estate</span>
						Made with
						<i class="fa fa-heart"></i>
						by
						<a href="https://code2break.com/">C2B</a>
					  </p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<!-- footer-bottom-area-end -->
		  </footer>

