<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Service details | C2B</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="apple-touch-icon.html" />
    <!-- Place favicon.ico in the root directory -->

    <!-- all css here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/flaticon.css" />
    <link rel="stylesheet" href="assets/css/ionicons.min.css" />
    <link rel="stylesheet" href="assets/css/headline.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <link
      rel="stylesheet"
      href="assets/css/material-design-iconic-font.min.css"
    />
    <link rel="stylesheet" href="assets/css/meanmenu.css" />
    <link rel="stylesheet" href="assets/css/Pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/bundle.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <header class="header-menu">
      <!-- header-to-area-start -->
      <div class="header-top-area">
        <div class="container">
          <div class="border-bottom">
            <div class="row">
              <div class="col-lg-6 col-md-7 hidden-xs">
                <div class="headers-left">
                  <div class="headers-left-text">
                    <div class="headers-left-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <div class="headers-left-text">
                      <p>+00 965 874 587</p>
                    </div>
                  </div>
                  <div class="headers-left-text">
                    <div class="headers-left-icon">
                      <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="headers-left-text">
                      <p>code2breakgmail.com</p>
                    </div>
                  </div>
                  <div class="headers-left-text">
                    <div class="headers-left-icon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="headers-left-text">
                      <p>Working time: 08:00 - 17:00</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-5 col-xs-12">
                <div class="header-icon">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin-square"></i></a>
                  <a href="#"><i class="fa fa-camera"></i></a>
                  <a href="#"><i class="fa fa-pinterest-p"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-menu-area">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="logo">
                <a href="index.html">
                  <!-- <img src="assets/img/logo/logo.png" alt="" /> -->
                  <h2 class="logo">Sanshomes</h2>
                </a>
              </div>
            </div>
            <div class="col-md-10">
              <div class="main-menu floatright">
                <nav>
                  <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li class="active"><a href="service.html">SERVICE</a></li>
                    <li><a href="project.html">PROJECTS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                  </ul>
                </nav>
              </div>
              <div class="col-xs-12"><div class="mobile-menu"></div></div>
            </div>
          </div>
        </div>
      </div>
      <!-- header-to-area-end -->
    </header>
    <!-- slider-area-start -->
    <div
      class="page-title-area pb-200 pt-320 bg-opacity"
      style="background-image: url(assets/img/slider/1.jpg);"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-text text-center">
              <h1>Services details</h1>
              <div class="page-info">
                <p>
                  Contrary to popular belief, Lorem Ipsum is not simply random
                  text. It has roots in a piece of classical Latin literature
                  from 45 BC,
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider-area-end -->
    <!-- service-details-area-start -->
    <div class="service-details-area pt-120 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-md-9 mb-30">
            <div class="service-details">
              <div class="service-details-img">
                <img src="assets/img/service/Services-Deatils.jpg" alt="" />
              </div>
              <div class="service-details-text">
                <h3>Floors & Roofs</h3>
                <p>
                  Floors are the key element when it comes to architectural freedom and design. Their loadbearing capacity has a direct influence on the need for partition walls and other structural elements of a building. Double tees, hollowcore, and solid slabs are prestressed floor elements. The excellent loadbearing capacity and structural efficiency allows you to build large areas with fewer partition walls. This means greater freedom in design and savings in material costs.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="service-details-wrapper">
                  <div class="service-details-content">
                    <h4>Service Details</h4>
                    <p>
                      But I must explain to you how all this mistaken idea of
                      denoupleasure and praising pain was born and I will give
                      ycomplete account osystem, and expound the actual
                      teachings ..
                    </p>
                  </div>
                  <div
                    class="panel-group"
                    id="accordion"
                    role="tablist"
                    aria-multiselectable="true"
                  >
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                          <a
                            role="button"
                            data-bs-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapseOne"
                          >
                            Project planning
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <p>
                            But I must explain to you how all this mistaken idea
                            ofpleasure and praising pain was born and I will
                            give ycomplete aosystem, and expound the actual
                            teachings.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                          <a
                            class="collapsed"
                            role="button"
                            data-bs-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapseTwo"
                          >
                            We are your construction partner
                          </a>
                        </h4>
                      </div>
                      <div class="panel-collapse collapse" id="collapseTwo">
                        <div class="panel-body">
                          <p>
                            But I must explain to you how all this mistaken idea
                            ofpleasure and praising pain was born and I will
                            give ycomplete aosystem, and expound the actual
                            teachings.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                          <a
                            class="collapsed"
                            role="button"
                            data-bs-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapsethree"
                          >
                            We are your construction partner
                          </a>
                        </h4>
                      </div>
                      <div class="panel-collapse collapse" id="collapsethree">
                        <div class="panel-body">
                          <p>
                            But I must explain to you how all this mistaken idea
                            ofpleasure and praising pain was born and I will
                            give ycomplete aosystem, and expound the actual
                            teachings.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="service-details-wrapper">
                  <div class="service-details-info">
                    <h4>Project Mission</h4>
                    <p>
                      Our Pledge Is To Establish Lasting Relationships With Our
                      Customers By Exceeding Their Expectations And Gaining
                      Their Trust Through Exceptional Performance By Every
                      Member Of The Construction Team.
                    </p>
                    <img
                      src="assets/img/service/Services-Deatils1.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget mb-30">
              <ul class="service-link">
                <li>
                  <a href="#">
                    Floor & Roofs
                    <i class="zmdi zmdi-chevron-right"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    Rooms & Halls
                    <i class="zmdi zmdi-chevron-right"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    Basements
                    <i class="zmdi zmdi-chevron-right"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    Architecture
                    <i class="zmdi zmdi-chevron-right"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    Consultiong
                    <i class="zmdi zmdi-chevron-right"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    Rooms & Halls
                    <i class="zmdi zmdi-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- service-details-area-end -->
    <!-- Subscribe-area-start -->
    <div class="Subscribe-area">
      <div class="container">
        <div
          class="subscribe pt-80 pb-45"
          style="background-image: url(assets/img/bg/2.jpg);"
        >
          <div class="row">
            <div class="col-md-6 col-sm-12 mb-20">
              <div class="Subscribe-text">
                <span>Subscribe</span>
                <h2>To Our Special Offers</h2>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 mb-20">
              <div class="subscribe-form">
                <form action="#">
                  <input placeholder="sEnter your Email..." type="email" />
                  <button>subscribe now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Subscribe-area-end -->
    <footer>
      <!-- footer-top-area-start -->
      <div class="footer-top-area blue-bg pt-190 pb-60">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-6">
              <div class="foooter-wrapper mb-30">
                <h4 class="footer-title">about us</h4>
                <div class="footer-text">
                  <p>
                    Team Sans Homes Is A Lively, Passionate Bunch Of Hard
                    Workers As Well As Smart Workers. Here You Find The Grey
                    Haired Patience As Well As The Urge To Go Beyond The Lines
                    Quite In Tandem. The Team Consists Of Experts With Decades-
                    Long Experience In Various Domains Of Art, Design,
                    Architecture And Construction. Involvement, Imagination,
                    Dedication And Action- With Team Sans Homes; All These Go
                    Hand In Hand.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="foooter-wrapper mb-30">
                <h4 class="footer-title">Useful links</h4>
                <ul class="footer-menu">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="service.html">Service</a></li>
                  <li><a href="project.html">Projects</a></li>
                  <!-- <li><a href="#">Term of use</a></li> -->
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6">
					
				  </div> -->
            <div class="col-md-3 col-sm-6">
              <div class="foooter-wrapper mb-30">
                <h4 class="footer-title">FLICKR WIDGET</h4>
                <ul class="footer-img">
                  <li>
                    <a href="#"><img src="assets/img/footer/1.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/2.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/3.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/4.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/5.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/6.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/7.jpg" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/footer/8.jpg" alt="" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-top-area-end -->
      <!-- footer-bottom-area-start -->
      <div class="footer-bottom-area blue-bg-11 ptb-20">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright text-center">
                <p>
                  &copy; 2022
                  <span>Real Esatate</span>
                  Made with
                  <i class="fa fa-heart"></i>
                  by
                  <a href="https://www.code2break.com/">C2B</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-bottom-area-end -->
    </footer>

    <!-- all js here -->
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/headline.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.scrollUp.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.parallax-1.1.3.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.meanmenu.js"></script>
    <script src="assets/js/ajax-mail.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
  </body>

  <!-- Mirrored from template.hasthemes.com/buildup/buildup/service-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 20 May 2022 12:28:22 GMT -->
</html>
